body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
    overflow-x: hidden;
}
.nav {
    display: flex;
    width: 100%;
    background-color: #537057;
}
.nav a {
    text-align: center;
    padding: 28px;
    font-size: 25px;
    flex: 1;
    background-color: #537057;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}
.nav img {
    flex: 1;
    max-width: max-content;
    margin: 10px 8%;
    background-color: #435344;
    border-radius: 30px;
}
.nav a:hover {
    background-color: #5b8f62;
}
.map iframe {
    height: 350px;
    width: 655px;
    z-index: 1;
    padding: 0px 10px 5px 10px;
}   
.flag {
    padding: 10px 10px;
    position: static;
}
.information {
    margin: 5px -30px;
    width: 50%;
    float: right;
}
p {
    font-size: 18px;
    background-color: #8bb996;
    padding: 7px 7px 7px 14px;
    width: 60%;
    border-radius: 20px;
    border: 2px solid #556659;
}
h1 {
    background-color: #556659;
    padding: 10px;
    width: 60%;
    border-radius: 20px;
    text-align: center;
    border: 2px solid #2b312d;
}
.size {
    height: auto; 
    width: 655px;
}
@media screen and (max-width: 1300px) {
    .information {
        float: none;
        margin-left: 5px;
        width: 100%;
        text-align: center;
    }
    .map iframe {
        padding: 5px 10px 10px 10px;
    }
    p, h1 {
        margin: 20px auto;
    }
    .flag, .map {
        display: flex;
        justify-content: center;
    }
}
@media screen and (max-width: 690px) {
    .map iframe {
        width: 100%;
        padding-right: 10px;
        padding: 5px 10px 10px 10px;   
    }
    .size {
        width: 100%;
        height: auto;
    }
    .nav img {
        margin: 10px 2%;
    }
}