body {
    margin: 0; 
    font-family: Arial, Helvetica, sans-serif;
}
.background { 
    background-image: url("Background.jpg");
    background-position: center;
    background-attachment: fixed;
    background-repeat: no-repeat;
    background-size: cover;
}
.nav {
    display: flex;
    width: 100%;
    background-color: #537057;
}
.nav a {
    text-align: center;
    padding: 28px;
    font-size: 25px;
    flex: 1;
    background-color: #537057;
    transition: background-color 0.2s ease-in-out;
    text-decoration: none;
    color: black;
}
.nav img {
    flex: 1;
    max-width: max-content;
    margin: 10px 18%;
    background-color: #435344;
    border-radius: 30px;
}
.nav a:hover {
    background-color: #5b8f62;
}
.map {
    padding-bottom: 50px;
    display: flex;
    justify-content: center;
    padding-top: 20px;
}
.map iframe {
    height: 540px;
    width: 1000px;
    background-color: #22a19b;
    padding: 10px;
}
